
/* Variables for RobotoDraft */
@import "variables";
@import url(https://fonts.googleapis.com/css?family=Coming+Soon);

/* Mixins */
@import "mixins";

/* RobotoDraft */
@import "Thin";
@import "Light";
@import "Regular";
@import "Italic";
@import "Medium";
@import "Bold";
@import "BoldItalic";
@import "Black";

/* Google's private font - use if you like getting sued */
@font-face {
  font-family: 'Product Sans';
  src: url('fonts/product_sans.woff2') format('woff2');
  font-style: normal;
}


/* GLOBAL VARIABLES */

$THEME_COLOR: #F8E64F;
$THEME_ACCENT: #252525;
$THEME_SECOND: #28cb75;



/* GENERIC STYLES */

html {
  font-family: 'RobotoDraft', sans-serif;
  color: #222;
  font-size: 18px;
  font-weight: normal;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  background: url('../img/paper-background.png');
  overflow-y: auto;
  overflow-x: hidden;
}


/* INDEX APP */

.app-banner {
  @include transitions(500ms);
  position: absolute;
  background: #f2f2f2;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  @include d2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1500;
}

.speech-button {
  background: $THEME_SECOND;
  @include transitions(500ms);
  border-radius: 3px;
  padding: 15px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  width: 400px;
  border: 0;
  display: block;
  margin: 10px auto;
}

.speech-text {
  @include transitions(500ms);
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 370px;
}

.progress-bar-wrapper {
  @include transitions(500ms);
  position: relative;
  background: #f6f6f6;
  border-radius: 50px;
  width: 400px;
  height: 10px;
  overflow: hidden;
  z-index: 999;
  margin: 0 auto;
  padding: 0;
  opacity: 0;
}

.progress-bar {
  @include transitions(500ms);
  background: #1E88E5;
  width: 0px;
  z-index: 1000;
  position: relative;
  border-radius: 50px;
  height: 10px;
  margin: 0;
}

.vert-align {
  @include transitions(500ms);
  position: absolute;
  height: 500px;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -250px;
  z-index: 2000;
}

.-under{
  z-index: 1200;
}

.-retry {
  opacity: 0;
  width: 500px;
  margin: 30px auto 50px;
}

.logo-area {
  @include transitions(500ms);
  position: relative;
  height: 120px;
  width: 120px;
  margin: 0 auto 10px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.speechArea {
  @include transitions(1000ms);
  font-family: 'Coming Soon' !important;
  line-height: 25px;
}

h1 {
  margin: 0 0 25px;
}

.app-description {
  width: 400px;
  margin: 10px auto;
  text-align: left;
  color: rgba(62, 62, 62, 0.6);
}

.app-meter {
  @include transitions(500ms);
  position: relative;
  background: #f6f6f6;
  border-radius: 50px;
  width: 400px;
  height: 20px;
  overflow: hidden;
  z-index: 999;
  margin: 0 auto;
  padding: 0;
  margin: 0 auto 20px;
}

.app-meter-bar {
  @include transitions(500ms);
  background: #1E88E5;
  width: 0px;
  z-index: 1000;
  position: relative;
  border-radius: 50px;
  height: 20px;
  margin: 0;
}

.app-wrapper {
  position: relative;
  height: 100px;
  width: 400px;
  opacity: 0;
  margin: 0 auto 20px;
}

.app-pos {
  position: absolute;
  left: 100%;
  margin-left: -30px;
  background-image: url("../img/happy.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.app-neut {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  background-image: url("../img/neutral.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.app-neg {
  position: absolute;
  left: 0;
  background-image: url("../img/angry.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.-emoji {
  height: 30px;
  width: 30px;
  bottom: 0;
}

.app-meter-title {
  margin: 0 auto 5px;
  text-align: center;
}
.app-meter-title h1 {
  margin: 0 auto 10px;
  font-size: 1.35em;
}
