<!DOCTYPE html>
<html lang="en">
<head>
  <script id="_data" type="application/json">
    {
      "view":"<%- view %>"
    }
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, minimum-scale=0.8, initial-scale=0.8, user-scalable=0">
  <title>Trumpit | Political Speech Generator</title>
  <link rel="shortcut icon" href="img/logo.png">
  <meta name="description" content="Generate topical and favorable political speeches.">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css" type="text/css" />
  <link rel="stylesheet" href="css/animations.css" type="text/css" />
  <link rel="stylesheet" href="css/app.css" type="text/css" />
</head>
<body>
  <div id="app"><%- reactOutput %></div>
  <script src="js/build/app.bundle.js"></script>
  <script data-main="js/config" src="js/libs/require.js"></script>
  <script>
    require(['config'], function(){
      require([], function(){
        //
      });
    });
  </script>
</body>
</html>